[submodule "Rocky/vendor/spdlog"]
	path = Rocky/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Rocky/vendor/GLFW"]
	path = Rocky/vendor/GLFW
	url = https://github.com/glfw/glfw.git
